.loginWrapper {
  margin-top: 4vh;
  width: 60%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.loginBox{
  height:50vh;
  width:55vw;
  background-color: #ffffff;
}

.loginBtn{
  background: linear-gradient(90deg, rgba(251,48,48,1) 0%, rgba(101,96,253,1) 100%);;
  color: #ffffff;
  font-weight: 600;
}

.login-reg-link {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
}

.login-reg-link:hover {
  color: #000000;
}
